@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&display=swap");

* {
  font-family: Mulish, sans-serif;
}

#root {
  margin: 0;
  text-align: center;
  background-color: #fafafa;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  max-width: 100%;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  min-height: 100%;
  padding: 1rem;
}

.gifContainer {
  display: flex;
  flex-direction: column;
  margin: 0.3rem;
  width: 200px;
  border-radius: 10px;
}

.gifContainer:hover {
  animation: shake 0.3s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25%,
  75% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
}

img {
  width: 100%;
  border-radius: 10px;
}

.btn {
  margin-bottom: 1.5rem;
}

.searchBar {
  display: flex;
}

.form {
  display: flex;
  min-width: 10rem;
}

.logo {
  cursor: pointer;
  width: 6rem;
}

.eye {
  cursor: pointer;
  width: 1.6rem;
  margin-left: 0.5rem;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 2s;
}
.animate__animated.animate__fadeInDown {
  --animate-duration: 1s;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-between;
}

header {
  display: flex;
  width: 100%;
  padding: 1rem;
  background-color: #ff0000;
  border-radius: 0px 0px 100px 100px;
  height: 6rem;
}

h2 {
  margin: 0;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0052ff;
  border-radius: 100px 100px 0px 0px;
  height: 5rem;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: auto;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbarSection1 {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 2rem;
}

.navbarSection2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarSection2:hover {
  animation: shake 0.3s;
  cursor: pointer;
}

.navbarSection3 {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 2rem;
}

.mb-4 {
  margin-bottom: 0rem !important;
  border-radius: 100px;
  margin-right: 0.5rem;
  border: none;
}

.btn {
  margin-bottom: 0rem !important;
  border-radius: 100px;
  background-color: #000000;
  border: none;
}

.btn:hover {
  background-color: #0052ff;
}

.instagramIcon {
  margin-left: 0.5rem;
  color: inherit;
  text-decoration: none;
}

.footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
}

h5 {
  margin: 0;
  font-size: 1rem;
}

.gifDescription {
  font-size: 0.7rem;
  font-weight: 600;
  color: rgb(150, 150, 150);
}

.burgerIcon {
  cursor: pointer;
}

.burgerIcon:hover {
  animation: shake 0.3s;
}

@media screen and (max-width: 767px) {
  h2 {
    display: none;
  }

  .eye {
    width: 2.2rem;
  }
}
